.box{
  display: flex;
  align-items: flex-start;
  
}
.container{
  width: 250px;
  height:fit-content;
  background-color: #f4f4f4;
  padding: 20px;
  border-right: 1px solid #ddd;
  padding-left: 20px;
}

.recipe {
  flex: 1;
  padding: 20px;
}

.controls {
  display: flex;
  flex-direction: column; 
  gap: 10px;
  margin-bottom: 20px;
  
}

.card{
  padding-left: 30px;
}

.App{
  text-align: left;
}

.chartSection {
  display: flex;
  flex-direction: column;
 
  margin-top: 10px;
  font-size: smaller;
}

.chart1, .chart2 {
  background-color: white;
  margin: 10px;
}

.chartTitle {
  font-size: smaller;
  margin-bottom: 5px;
  margin-top: 50px;
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

a {
  text-decoration: none;
  color: #333;
  transition: 0.2s ease;
}

a:hover {
  color: #000;
}

a:visited {
  color: #555;
}

a:active {
  color: #888;
}