.box{
  display: flex;
  align-items: flex-start;
  
}
.container{
  width: 150px;
  height:fit-content;
  background-color: #f4f4f4;
  padding: 20px;
  border-right: 1px solid #ddd;
  padding-left: 20px;
}

.recipe {
  flex: 1;
  padding: 20px;
}

.controls {
  display: flex;
  flex-direction: column; /* stack vertically */
  gap: 10px;
  margin-bottom: 20px;
  
}

.card{
  padding-left: 30px;
}

.App{
}